.header{
    width:30%!important; 
 }
 .cim{
     margin:0!important;
     padding:0!important;
     line-height: .8;
 }
 .green{
     color: #72dd78 !important;
  }
  .lead{
     margin-top: 2rem;
  }
 
  .box h2{
    margin:0!important;
  }
 
  .box h2::first-letter {
     color: #72dd78;
     font-size: 100px;
     font-weight: 700;
     
 }
  
 .box .lead{
    margin-top: 0!important; 
 }